*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.Contain{
  display: flex;
  gap:1158px;
  margin-left:150px;
}
.Log{
  font-size:34px;
  color: #4E47FF;
  margin-top: 50px;
}
.Sig{
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
  margin-top: 50px;
  text-align: center;
}
.head{
  text-align: center;
  margin-top: 158px;
}
.cool{
  font-weight: bold;
  font-size:50px;
  gap:10px;
}
.content{
  background-image: url("../Assets/Hero-bg.png");
}
.button{
  margin-top:49px;
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
  margin-top: 50px;
  margin-bottom:152px;
}
.action{
  display: flex;
  margin-top:116px;
  margin-left:140px;
  margin-right:160px;
  gap:220px;
  justify-content: space-between;
}
.img{
  border-radius: 48px;
  image-resolution:1px;
  border: none;
}
.see{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.launch{
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
}
.ital{
  margin-top:62.5px;
  text-align: justify;
}
.parent{
  padding:1px;
  text-align: center;
  align-items: center;
  margin-top:116px;
  margin-right:160px;
  margin-left: 140px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius:24px;
}
.parent-container{
  font-weight: bold;
  font-size:40px;
  justify-items: center;
  margin-top:50px;
  padding: 10px;
}
.product{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:162px;
  margin-top:50px;
  color:#4E47FF;
  font-weight: bold;
  font-size:60px;
  padding:10px;
}
.product-container{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:162px;
  font-size:15px;
  margin-bottom:137px;
}
#testomoni{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top:137px;
}
.testo{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.testo h1{
  font-size:42px;
  font-weight:bold;
  padding:10px 20px;
  color: #252432;
  margin-top:137px;
  margin-left:151px;
  margin-right:149px;
}
.testo-container{
  display: flex;
  justify-content:center;
  flex-direction: row;
  align-items: center;
  padding:20px 20px;
  margin-left:149px;
  margin-right:151px;
  padding-left:20px;
  margin-top: 50px;
  margin-bottom:20px;
  gap:30px;
  background-color:#FFFFFF;
  box-shadow:none;
  border-radius:10px;
}


.Common{
  background-color:#D6DDED;
  display: flex;
  padding:150px 92px;
  margin-top:92px;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:92px;
  border: none;
  border-radius:10px;
}
.first-text{
  font-weight: bold;
  font-size:60px;
 
}
.Touch{
  width:50%;
  text-align: justify;
  justify-content: center;
  font-size:20px;
  
  position: relative;
}
.Form{
  display: flex;
  gap: 200px;
 }

form input[type="Email"]{
     border-radius:10px;
     padding:10px 20px;
     display: block;
     width:100%;
     border: none;
     margin-bottom:19px;
     color: #000000;
     justify-content:end;
}
.Name{
     border-radius:10px;
     padding: 10px 40px; 
     display: block;
     width:100%;
     border: none;
     margin-bottom:19px;
     color: #000000;
     justify-content:end;
}
.Message{
  border-radius:10px;
  display: block;
  border: none;
  margin-bottom:19px;
  height:100px;
  max-width:400px;
  color:#000000;
  justify-content:end;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top:104px;
  margin-left:574px;
  margin-right:575px;
  margin-bottom:103px;
}
.footer-column h1{
  font-weight: bold;
  font-size:100px;
  color:#4E47FF;
  margin-bottom:8px;
}
.footer-column p{
  text-align: center;
  color:#8987A1;
  margin-bottom:20px;
}
.footer-column a{
   text-align: center;
   list-style: none;
   box-shadow: none;
   text-decoration:none;
   text-shadow: none;
   padding:10px;
   color: #8987A1;
}
.launch:hover{
  background-color:red;
  cursor: pointer;
}
.Sig:hover{
  background-color: green;
  cursor: move;
}
.button:hover{
  background-color:tomato;
  cursor: zoom-in;
}
.new-img{
 justify-content: start;
 align-items: start;
 border-radius:10px;
 border: none;
}
.testo-description{
  justify-content:center;
  align-items: center;
  text-align: justify;
}
.testo-title{
  margin-top:27px;
}
.testo-box{
  margin-bottom:24PX;
}








 

 
 

