*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.Contain{
  display: flex;
  gap:1158px;
  margin-left:150px;
}
.Log{
  font-size:34px;
  color: #4E47FF;
  margin-top: 50px;
}
.Sig{
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
  margin-top: 50px;
  text-align: center;
}
.head{
  text-align: center;
  margin-top: 158px;
}
.cool{
  font-weight: bold;
  font-size:50px;
  gap:10px;
}
.content{
  background-image: url("../Assets/Hero-bg.png");
}
.button{
  margin-top:49px;
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
  margin-top: 50px;
  margin-bottom:152px;
}
.action{
  display: flex;
  margin-top:116px;
  margin-left:140px;
  margin-right:160px;
  gap:220px;
  justify-content: space-between;
}
.img{
  border-radius: 48px;
  image-resolution:1px;
  border: none;
}
.see{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.launch{
  background-color: #4E47FF;
  color: #FFFFFF;
  border-radius:10px;
  padding: 10px;
  border: none;
}
.ital{
  margin-top:62.5px;
  text-align: justify;
}
.parent{
  padding:1px;
  text-align: center;
  align-items: center;
  margin-top:116px;
  margin-right:160px;
  margin-left: 140px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius:24px;
}
.parent-container{
  font-weight: bold;
  font-size:40px;
  justify-items: center;
  margin-top:50px;
  padding: 10px;
}
.product{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:162px;
  margin-top:50px;
  color:#4E47FF;
  font-weight: bold;
  font-size:60px;
  padding:10px;
}
.product-container{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:162px;
  font-size:15px;
  margin-bottom:137px;
}
